<%= render "shared/evaluation_tab", active_tab: Settings.tabs.evaluation_templete %>

<div id="evaluation-templates">
  <p class="pull-right"><%= link_to t("button.new"), "#",
    data: {toggle: "modal", target: "#EvaluationTemplateModal"},
    class: "btn btn--b btn-block btn-success" %></p>
  <div id="EvaluationTemplateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-heafer">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="label-modal"><%= t "evaluation_templates.new_evaluation_template" %></h3>
        </div>
        <div class="modal-body">
          <%= render "new_evaluation_template" %>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-striped tbl-evaluation-template">
    <thead>
      <tr>
        <th class="name"><%= t "table.thead.name" %></th>
        <th class="min-point"><%= t "table.thead.min_point" %></th>
        <th class="max-point"><%= t "table.thead.max_point" %></th>
        <th class="action"><%= t "table.thead.action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @evaluation_templates.each do |evaluation_template| %>
        <tr>
          <td class="name"><%= evaluation_template.name %></td>
          <td class="min-point"><%= evaluation_template.min_point %></td>
          <td class="max-point"><%= evaluation_template.max_point %></td>
          <td class="action"><%= link_to t("button.edit"), edit_admin_evaluation_template_path(evaluation_template),
            class: "btn btn-primary" %> &nbsp;
            <%= link_to t("button.delete"),
              admin_evaluation_template_path(evaluation_template),
              method: :delete, data: {confirm: t("messages.delete.confirm")},
              class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
