<%= form_for [:admin, @course] do |f| %>
  <div class="row">
    <%= render "shared/error_messages", object: @course %>
    <div class="col-md-6">
      <%= f.hidden_field :parent_id, value: @parent_id %>
      <%= f.label :start_date %>
      <%= f.text_field :start_date, class: "form-control datepicker", required: true %>
      <%= f.label :end_date %>
      <%= f.text_field :end_date, class: "form-control datepicker", required: true %>
      <br>
      <%= f.submit (f.object.new_record? ? t("courses.buttons.admin.create")
        : t("courses.buttons.admin.update")), class: "btn btn-primary" %>
    </div>
    <div class="col-md-6">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th><%= t "name" %></th>
          </tr>
        </thead>
        <tbody>
          <%= f.fields_for :course_subjects, @course.get_course_subjects  do |builder| %>
            <tr> 
              <td><%= builder.check_box :_destroy, {}, 0, 1 %></td>
              <td><%= builder.object.subject.name %></td>
            </tr>
            <%= builder.hidden_field :subject_id, value: builder.object.subject_id %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
